
# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = 2009-04-11

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F77 = ifort
F90 = ifort

CFLAGS   = -openmp -g -debug all -align -std=c99 -ansi_alias
CXXFLAGS = -openmp -g -debug all -align -restrict
F77FLAGS = -openmp -g -debug all -align -pad -traceback -w95 -cm
F90FLAGS = -openmp -g -debug all -align -pad -traceback -w95 -cm

LDFLAGS = -traceback -openmp

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 -check-uninit
CXX_DEBUG_FLAGS = -O0 -check-uninit
F77_DEBUG_FLAGS = -O0 -check all
F90_DEBUG_FLAGS = -O0 -check all

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = 
FPP_OPTIMISE_FLAGS = 
C_OPTIMISE_FLAGS   = -O2
CXX_OPTIMISE_FLAGS = -O2
F77_OPTIMISE_FLAGS = -O2
F90_OPTIMISE_FLAGS = -O2

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

WARN           = no

MPI         = OpenMPI
MPI_LIBS    = mpi

PTHREADS = yes
