CPP = /usr/bin/cpp
FPP = /usr/bin/cpp
CC  = /usr/bin/gcc
CXX = /usr/bin/g++
F77 = /usr/bin/gfortran
F90 = /usr/bin/gfortran
FC  = /usr/bin/gfortran

CPPFLAGS = -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -traditional
CFLAGS   = -g3 -march=native -std=gnu99
CXXFLAGS = -g3 -march=native -std=gnu++0x
F77FLAGS = -g3 -march=native -fcray-pointer -m128bit-long-double -ffixed-line-length-none -fno-range-check
F90FLAGS = -g3 -march=native -fcray-pointer -m128bit-long-double -ffixed-line-length-none -fno-range-check

LDFLAGS  = -rdynamic -lgfortran

#LIBDIRS = /util/software/Intel/INTEL_13.1u1/composer_xe_2013_sp1.2.144/compiler/lib/intel64 
#/util/software/Intel/INTEL_13.0u3/composer_xe_2013.3.163/compiler/lib/intel64

#/util/software/Intel/INTEL_12.0u3/composerxe-2011.3.174/compiler/lib/intel64 /util/software/Intel/INTEL_12.0u3/#composerxe-2011.3.174/compiler/lib/intel64 /util/software/Intel/INTEL_13.0u3/composer_xe_2013.3.163/bin/intel64

C_LINE_DIRECTIVE = yes
F_LINE_DIRECTIVE = yes

# -O2 and -O3 leads to very long (infinite?) compile times
OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMIS: -DNDEBUG
C_OPTIMISE_FLAGS   = -O3 
CXX_OPTIMISE_FLAGS = -O3 
F77_OPTIMISE_FLAGS = -O3 
F90_OPTIMISE_FLAGS = -O3 

#PROFILE           = no
#CPP_PROFILE_FLAGS =
#FPP_PROFILE_FLAGS =
#C_PROFILE_FLAGS   = -p
#CXX_PROFILE_FLAGS = -p
#F77_PROFILE_FLAGS = -p
#F90_PROFILE_FLAGS = -p

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no
VECTORISE_STREAMING_STORES = no


#WARN           = yes
#CPP_WARN_FLAGS = -Wall
#FPP_WARN_FLAGS = -Wall
#C_WARN_FLAGS   = -Wall -wd810 -wd981 -wd1419
#CXX_WARN_FLAGS = -Wall -wd810 -wd981 -wd1419
#F77_WARN_FLAGS = -warn all
#F90_WARN_FLAGS = -warn all

#MPI=OpenMPI

LIBS = -L/usr/lib64 -lfftw3 -lm -lgfortran

#GSL_DIR  = /usus/va/vasme/opt/gsl-1.15
GSL_LIBS = gsl gslcblas

#BLAS_DIR  = /util/software/Intel/INTEL_13.0u3/composer_xe_2013.3.163/mkl/lib/intel64  
#BLAS_LIBS = -lfftw3 -lmkl_blas95_lp64 -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_intel_thread -lmkl_core -liomp5 -lpthread

#LAPACK_DIR  = /util/software/Intel/INTEL_13.0u3/composer_xe_2013.3.163/mkl/lib/intel64
#LAPACK_LIBS = -lfftw3 -lmkl_blas95_lp64 -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_intel_thread -lmkl_core -liomp5 -lpthread

#FFTW_DIR  = /usr/lib /usr/include
#FFTW_LIBS = -lfftw3 -lm

#LIB_CXX = -lgfortran -lstdc++ -L/usr/lib -lfftw3 -lm

#LIB_PGPLOT = -L/usr/lib -lcpgplot -lpgplot -L/usr/lib/x86_64-linux-gnu/ -lpng -L/usr/lib/x86_64-linux-gnu/ -lX11


HDF5_DIR = /opt/bin

 

#LORENE_DIR = /usus/va/vasme/opt/Lorene

#ZLIB_DIR = /usr/lib64 /usr/include

#OPENSSL_DIR = /usr/lib64 /usr/include

#SSL_DIR = /usr/lib64 /usr/include

#FFTW3_DIR = $(FFTW3_ROOT)

HWLOC_DIR = BUILD

#MPI = CUSTOM
#MPI_INC_DIRS = /opt/sgi/mpt/mpt-2.05/include
#MPI_LIB_DIRS = /opt/sgi/mpt/mpt-2.05/lib
#MPI_LIBS     = mpi # mpi++ xmpi sma

MPI_DIR = /opt/bin
MPI_INC_DIRS = /opt/include
MPI_LIB_DIRS = /opt/lib64
MPI_LIBS = mpi

#MPI_DIR = /util/software/OpenMPI/1.4.4

#MPI_DIR = /usus/va/vasme/opt/MPICH2
#MPI_INC_DIRS = /usus/va/vasme/opt/MPICH2/include
#MPI_LIB_DIRS = /usus/va/vasme/opt/MPICH2/lib
#MPI_LIBS     = mpich mpichf90 mpichcxx

#PAPI_DIR = BUILD

##BOOST_DIR = BUILD

#PTHREADS = yes

