# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = supermuc_ng_intel-2020-01-24
####################################################

####################################################
## Load the following modules (mpi.intel is loaded by default on SuperMUC-NG)
####################################################
## module load gcc/9
## module load libszip/2.1.1
## module load numactl/2.0.11 
## module load hdf5/1.10.2-intel-impi-threadsafe
## module load gsl/2.5-intel
## module load hwloc/2.0.1
## module load papi/5.7.0
## module load fftw/3.3.8-intel
## module load libjpeg-turbo/1.5.90
## and the following are optional
## module load gnuplot/5.2.6-X11
## module load git/2.18.0
## module load lrztools;budget_and_quota
####################################################

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F77 = ifort
F90 = ifort

CPPFLAGS = -g -D_XOPEN_SOURCE -D_XOPEN_SOURCE_EXTENDED
FPPFLAGS = -g -traditional
CFLAGS   = -g -traceback -debug all -xCORE-AVX2 -mkl -align -std=gnu99
CXXFLAGS = -g -traceback -debug all -xCORE-AVX2 -mkl -align -std=gnu++11
 ##-std=c++14 #-std=gnu++11
 ###-D_intel_fast_memcpy=memcpy -D_intel_fast_memset=memset
F77FLAGS = -g -traceback -debug all -xCORE-AVX2 -mkl -align -pad -safe-cray-ptr
F90FLAGS = -g -traceback -debug all -xCORE-AVX2 -mkl -align -pad -safe-cray-ptr

LDFLAGS = -rdynamic -xCORE-AVX2 -Wl,--rpath,/usr/lib64/psm2-compat

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0 -check bounds -check format
F90_DEBUG_FLAGS = -O0 -check bounds -check format

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F77_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

CPP_NO_OPTIMISE_FLAGS  =
FPP_NO_OPTIMISE_FLAGS  =
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =

HDF5_DIR        = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/hdf5/1.10.2-intel-ze5274l

GSL_DIR         = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/gsl/2.5-intel-barwazv
MPI_DIR         = /lrz/sys/intel/studio2019_u4/impi/2019.4.243/intel64

BLAS_DIR        = NO_BUILD
BLAS_LIBS       = -mkl

FFTW3_DIR       = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/fftw/3.3.8-intel-lobmp27/

HWLOC_DIR        = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/hwloc/2.0.1-gcc-gir2kom/bin
HWLOC_LIB_DIRS   = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/hwloc/2.0.1-gcc-gir2kom/lib
HWLOC_INC_DIRS   = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/hwloc/2.0.1-gcc-gir2kom/include
HWLOC_EXTRA_LIBS = numa

LAPACK_DIR      = NO_BUILD
LAPACK_LIBS     = -mkl

OPENBLAS_DIR    = NO_BUILD
OPENBLAS_LIBS   = -mkl

PAPI_DIR = /lrz/sys/tools/papi/5.6/skl/

LIBSZ_DIR       = /dss/dsshome1/lrz/sys/spack/release/19.1/opt/x86_avx512/libszip/2.1.1-gcc-v3th2mi/lib
LIBZ_DIR        = /usr/lib64/
LIBJPEG_DIR     = /usr/lib64/

ZLIB_DIR        = /usr/lib64/

PTHREADS_DIR    = NO_BUILD

