#configuration of macports openmpi with gcc 4.3 for MacOSX 
#need to set the following environment variables:

CC=openmpicc
CFLAGS=-std=c99
CPP=cpp-mp-4.3
CXX=openmpic++
F77=openmpif77
F90=openmpif90
FPP=cpp-mp-4.3
FPPFLAGS=-traditional

GSL_DIR=/opt/local
HDF=yes
HDF5_DIR=BUILD

LD=openmpic++
LIBDIRS=/Volumes/Apps_and_Docs/optMACPORTS/lib/gcc43/
LIBS=gfortran
MPI=OpenMPI
OPENMPI_DIR=/Volumes/Apps_and_Docs/optMACPORTS/

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O3 -funroll-loops
CXX_OPTIMISE_FLAGS = -O3 -funroll-loops
F77_OPTIMISE_FLAGS = -O3 -funroll-loops
F90_OPTIMISE_FLAGS = -O3 -funroll-loops

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -fbounds-check
CXX_DEBUG_FLAGS = -fbounds-check
F77_DEBUG_FLAGS = -fbounds-check
F90_DEBUG_FLAGS = -fbounds-check

THORNLIST=arrangements/GSFCThorns/Hahndol/configs/ThornList

